package ${package}.${moduleName}.controller;

import java.util.Arrays;
import com.cc.entity.ResEntity;
import org.springframework.beans.factory.annotation.Autowired;
import org.springframework.web.bind.annotation.*;
import ${package}.${moduleName}.entity.${className}Entity;
import ${package}.${moduleName}.service.${className}Service;

/**
 * ${comments}
 *
 * @author ${author}
 * @email ${email}
 * @date ${datetime}
 */
@RestController
@RequestMapping("${moduleName}/${pathName}")
public class ${className}Controller {

    @Autowired
    private ${className}Service ${classname}Service;

    /**
     * 信息
     */
    @GetMapping("/info/{${pk.attrname}}")
    public ResEntity<${className}Entity> info(@PathVariable("${pk.attrname}") ${pk.attrType} ${pk.attrname}){
		${className}Entity ${classname} = ${classname}Service.getById(${pk.attrname});
        return ResEntity.success(${classname});
    }

    /**
     * 新增或修改
     */
    @PostMapping("/saveOrUpdate")
    public ResEntity<String> saveOrUpdate(@RequestBody ${className}Entity ${classname}){
		${classname}Service.saveOrUpdate(${classname});
        return ResEntity.success();
    }

    /**
     * 批量删除
     */
    @PostMapping("/delete")
    public ResEntity<String> delete(@RequestBody ${pk.attrType}[] ${pk.attrname}s){
		${classname}Service.removeByIds(Arrays.asList(${pk.attrname}s));
        return ResEntity.success();
    }

}
