package ${package}.${moduleName}.controller;

import ${package}.${moduleName}.entity.ResEntity;
import ${package}.${moduleName}.entity.${className}Entity;
import ${package}.${moduleName}.service.${className}Service;
import com.baomidou.mybatisplus.core.metadata.IPage;
import org.springframework.beans.factory.annotation.Autowired;
import org.springframework.web.bind.annotation.*;

import java.util.List;

/**
 * ${comments}
 *
 * @author ${author}
 * @date ${datetime}
 */
@RestController
@RequestMapping("/${moduleName}/${pathName}")
public class ${className}Controller {

    @Autowired
    private I${className}Service i${className}Service;

    /**
     * 获取单条
     *
     * @param ${pk.attrname}
     * @return
     */
    @GetMapping("/info/{${pk.attrname}}")
    public ResEntity<${className}Entity> info(@PathVariable("${pk.attrname}") ${pk.attrType} ${pk.attrname}) throws Exception {
        return ResEntity.success(i${className}Service.getById(${pk.attrname}));
    }

    /**
     * 查询多条
     *
     * @param ${classname}
     * @return
     */
    @GetMapping("/list")
    public ResEntity<IPage<${className}Entity>> list(${className}Entity ${classname}) throws Exception {
        return ResEntity.success(i${className}Service.list(${classname}));
    }

    /**
     * 批量新增或修改
     *
     * @param ${classname}
     * @return
     */
    @PostMapping("/saveOrUpdateBatch")
    public ResEntity<Boolean> saveOrUpdateBatch(@RequestBody List<${className}Entity> ${classname}s) throws Exception {
        return ResEntity.success(i${className}Service.saveOrUpdateBatch(${classname}s));
    }

    /**
     * 批量删除
     *
     * @param ${pk.attrname}s
     * @return
     */
    @PostMapping("/delete")
    public ResEntity<Boolean> delete(@RequestBody List<${pk.attrType}> ${pk.attrname}s) throws Exception {
        return ResEntity.success(i${className}Service.removeByIds(${pk.attrname}s));
    }

}
